.blocos-caixa{
    padding: 40px 15px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.blocos-caixa .box{
    width: 240px;
    height: 180px;
    border-radius: 30px;
    background: white;
}
.blocos-caixa .box h1{
    text-align: center;
    font-size: 24px;
    color: rgb(36, 36, 36);
}
.blocos-caixa .box .despesas{
    color: rgb(255, 0, 0);
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    border-bottom: 4px solid rgb(225, 225, 225);
}
.blocos-caixa .box .receita{
    color: rgb(4, 105, 4);
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    border-bottom: 4px solid rgb(225, 225, 225);
}
.blocos-caixa .box.saldo{
    background-image: linear-gradient(to bottom right ,rgb(0, 83, 21), rgb(24, 187, 73));
}
.blocos-caixa .box.saldo h1{
    color: white;
}
.blocos-caixa .box.saldo .saldo{
    color: rgb(255, 255, 255);
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    border-bottom: 4px solid rgb(225, 225, 225);   
}
.blocos-caixa .box.negativo{
    background-image: linear-gradient(to bottom right ,rgb(153, 0, 0), rgb(238, 43, 43));
}
.blocos-caixa .box.negativo h1{
    color: white;
}
.blocos-caixa .box.negativo .saldo{
    color: rgb(255, 255, 255);
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    border-bottom: 4px solid rgb(225, 225, 225);   
}