.barra_superior{
    position: fixed;
    margin-top: 0;
    width: 100vw;
    height: 45px;
    background-color: rgb(255, 255, 255);
}
.barra_superior h2{
    margin-top: 0;
    color: rgb(32, 122, 201);
}