.barralateral{
    float: left;
    display: block;
    margin-left: 0;
    width: 15vw;
    height: 100%;
    background-image:linear-gradient(to bottom right,rgb(46, 46, 46), rgb(85, 85, 85));
    position: fixed;
}
.barralateral .li{
    text-decoration: none;
    width: 100%;
    border: none;
    background: none;
    font-size: 20px;
    font-style: inherit;
    padding: 10px 19px;
    display: flex;
    align-items: center;
    color: ivory;
    cursor: pointer;
}
.barralateral ul{
    margin: 0;
    padding: 0;
}
.barralateral a{
    list-style: none;
}
.barralateral .li:hover{
    cursor: pointer;
    background:aliceblue;
    color: rgb(37, 37, 37);
}
.barralateral .user{
    justify-items: center;
    height: 90px;
    display: flex;
    width: 100%;
    background: rgb(141, 54, 223);
}
.barralateral .user h3{
    margin-top: 35px;
    color: whitesmoke;
}

.barralateral .user .icon_user{
    margin-top: 20px;
    display: flex;
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: whitesmoke;
}