.popup-calculadora{
    display: none;
}
.popup-calculadora.mostrar{
    width: 100vw;
    height: 100vh;
    background-color: rgba(122, 122, 122, 0.63);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    align-items: center;
    justify-content: center;
    display: flex;
}
.popup-calculadora .menu{
    border-radius: 50px;
    width: 400px;
    height: 570px;
    display: block;
}
.popup-calculadora .menu h3{
    padding-top: 13px;
    /* left: 0; */
    margin: 0;
    color: white;
    background: red;
    text-align: center;
    align-content: center;
    height: 35px;
    width: 45px;
    border-radius: 50%;
    vertical-align: middle;
}
.popup-calculadora .menu h3:hover{
    cursor: pointer;
}
.popup-calculadora .menu .container {
    width: 420px;
    height: 490px;
  border-radius: 20px;
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: 1px 1px 9px #c1c1c1, -1px -1px 10px #a5a5a5;

    margin: 0 auto;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
.popup-calculadora .menu .container .result {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border-radius: 18px;
    background: #cfcfcf;
    box-shadow:  5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
}
.popup-calculadora .menu .container .result p {
    font-size: 25pt;
    overflow-y: auto;
    text-align: right;
    color: #000000;
    padding-right: 10px;
}
  
.popup-calculadora .menu .container .buttons {
    display: flex;
    flex-wrap: wrap;
}
.popup-calculadora .menu .container .buttons #total{
    background: rgb(65, 65, 65);
    color: wheat;    
}
.popup-calculadora .menu  .container .buttons .button, .container .buttons .num-button  {
    cursor: grab;
    margin: 10px;
    color: black;
    text-align: center;
    width: 60px;
    font-size:22px;
    height: 60px;
    display: grid;
    place-content: center;
    border-radius: 20px;
    border-radius: 18px;
    box-shadow: 1px 1px 9px #c1c1c1, -1px -1px 10px #a5a5a5;
}
.popup-calculadora .menu  .button:hover{
    color: #3498db;
    border-radius: 20px;
    background: #20d11a;
    box-shadow:  5px 5px 10px #a31414, -5px -5px 10px #ff2020;
}
  
  /*  Big Button */
.popup-calculadora .menu .container .buttons .zero {
    font-size: 20px;
    color: #000000;
    border-radius: 10px;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 1px 1px 9px #c1c1c1, -1px -1px 10px #a5a5a5;
}
.popup-calculadora .menu .container .buttons .point{
    color: black;

}  
.popup-calculadora .menu .action-btn {
    color: grey;
    font-weight: bold;
}
.popup-calculadora .menu .calc-action-btn{
    color: #ffffff;
    background: aqua;
    font-size: 60px;
    font-weight: bold;  
}
