.check-back{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(to bottom right, rgb(180, 36, 156), rgb(87, 3, 73));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.check-back .check{
    width: 400px;
    height: 400px;
    background: white;
    display: block;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.check-back .check .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-back .check .titulo h2{
    font-size: 34px;
}
.check-back .check .cadastro{
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 4px;
    background: rgba(255, 255, 255, 0);
    color: #3951b2;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    border-bottom:1px solid #3951b2;
    text-decoration: none;
}
.check-back .check .cadastro:hover{
    cursor: pointer;
}
.check-back .check .botoes{
    margin-top: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check-back .check .botoes button{
    outline: none;
    border: none;
    font-size: 22px;
    background: rgb(0, 94, 153);
    color: white;
    height: 37px;
    width: 60%;
}
.check-back .check .botoes button:hover{
    border: 2px solid rgb(0, 94, 153);
    color: rgb(0, 94, 153);
    background: white;
    cursor: pointer;
}
.check-back .check .entradas{
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    margin-top: 5%;
}
.check-back .check .aviso{
    display: none;
    text-align: center;
    color: rgb(206, 0, 0);
}
.check-back .check .aviso_erro{
    display: none;
    text-align: center;
    color: rgb(206, 0, 0);
}
.check-back .check .aviso_net{
    display: none;
    text-align: center;
    color: rgb(206, 0, 0);
}
.check-back .check .aviso_erro.mostrar{
    margin: 0;
    animation: tremer .4s;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    display: block;
}
.check-back .check .aviso_net.mostrar{
    margin: 0;
    animation: tremer .4s;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    display: block;
}
.check-back .check .aviso.mostrar{
    margin: 0;
    animation: tremer .4s;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    display: block;
}
.check-back .check .entradas input{
    position: absolute;
    width: 60%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    height: 100%;
    min-width: 150px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
}
.check-back .check .entradas input:focus{
    border: 2px solid #3951b2;
}
.check-back .check .entradas input::placeholder{
    color:transparent;
}
.check-back .check .entradas label{
    pointer-events: none;
    position: absolute;
    font-size: 20px;
    left: 85px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background:white;
    box-sizing: border-box;
    top: 4px;
}
.check-back .check .entradas input:focus + .nome,
.check-back .check .entradas input:not(:placeholder-shown) + label{    
    font-size: 16px;
    top: -22%;
    color: #3951b2;
    background: white;
    font-weight: 600;
    z-index: 10;
}
@keyframes tremer{
    0% {margin-left: 0;}
    25% {margin-left: 33px;}
    50% {margin-left: 0;}
    75% {margin-left: -33px;}
    100% {margin-left: 0;}
}