.blocos{
    padding: 40px 15px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.blocos .box{
    width: 240px;
    height: 180px;
    border-radius: 30px;
    background: white;
}

.blocos .box h1{
    text-align: center;
    font-size: 24px;
    color: rgb(36, 36, 36);
}
.blocos .box h2{
    margin-top: 40px;

    font-size: 30px;
    text-align: center;
    border-bottom: 4px solid rgb(225, 225, 225);
}