.grafico_faturamento{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    width: 99%;
}
.grafico_faturamento .anos{
    margin-left: 23px;
    margin-bottom: 10px;
    font-family: Roboto media;
    font-size: 21px;
    width: 76%;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background: rgb(141, 54, 223);
    background-image:linear-gradient(to bottom right ,rgb(129, 19, 124), rgb(141, 54, 223)) ;
}
.grafico_faturamento .anos:hover{
    cursor: pointer;
}
.grafico_faturamento .planilha{
    margin: 0;
    display: flex;
    justify-content: center;
    position:relative;
    background: #fff;
    width: 76%;
    margin-left: 23px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.grafico_faturamento .area{
    background: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    margin-bottom: 20px;


}