.grafico_faturamento{
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 99%;
}
.grafico_faturamento .planilha{
    display: flex;
    justify-content: center;
    justify-items: center;
    position:relative;
    background: #fff;
    width: 60%;
    max-height: 345px;
    border-radius: 20px;
}