.mostrar-estoque{
    min-height: 70vh;
    padding: 20px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mostrar-estoque h3{
    margin: 0;
}
.mostrar-estoque .tabela .descri-2{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 20.9%;
    border-right: 10px solid rgb(225, 225, 225);
}
.mostrar-estoque .tabela .qtd-2{
    align-items: center;
    border-right: 10px solid rgb(225, 225, 225);
    display: flex; 
    width: 15%; 
    justify-content: center;
}
.mostrar-estoque .tabela .custo-2{
    align-items: center;
    border-right: 10px solid rgb(225, 225, 225);
    display: flex; 
    width: 19%;
    justify-content: center;
}
.mostrar-estoque .tabela .lucro-2{
    border-right: 10px solid rgb(225, 225, 225);
    display: flex;
    align-items: center; 
    width: 9%;
    justify-content: center;
}
.mostrar-estoque .tabela .preco-2{
    border-right: 10px solid rgb(225, 225, 225);
    align-items: center;
    display: flex; 
    width: 19%;
    justify-content: center;
}
.mostrar-estoque .tabela .editar-2{
    border-right: 10px solid rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 5%;
}
.mostrar-estoque .tabela .editar-2 button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    justify-items:center ;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0;
    background: rgb(134, 123, 18);
}
.mostrar-estoque .tabela .editar-2 button:hover{
    cursor: pointer;
    transition: all 0.09s ease-in;
    background: rgb(105, 96, 12);
}
.mostrar-estoque .tabela .editar-2 button:active{
    background: rgb(211, 191, 10);
}
.mostrar-estoque .tabela .editar-2 button img{
    width: 20px;
    height: 20px;
}
.mostrar-estoque .tabela .titulo .excluir-2{
    display: flex;
    justify-content: center;
    width: 5%;
}
.mostrar-estoque .tabela .excluir-2{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 5%;
}
.mostrar-estoque .tabela .excluir-2 button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    justify-items:center ;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0;
    background: red;
}
.mostrar-estoque .tabela .excluir-2 button:hover{
    cursor: pointer;
    transition: all 0.09s ease-in;
    background: rgb(209, 3, 3);
}
.mostrar-estoque .tabela .excluir-2 button:active{
    background: rgb(255, 52, 52);
}
.mostrar-estoque .tabela .excluir-2 button img{
    width: 20px;
    height: 20px;
}
.mostrar-estoque .tabela{
    display: block;
    justify-content: center;
    justify-items: center;
    width: 90%;
    background: white;
    border-radius: 20px;
}
.mostrar-estoque .tabela .titulo{
    background-image:linear-gradient(to right bottom, rgb(161, 37, 165), rgb(218, 44, 224));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-bottom: 5px solid rgb(225, 225, 225);
}
.mostrar-estoque .tabela .titulo h3{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: aliceblue;
    padding: 30px 2%;
}
.mostrar-estoque .tabela .titulo .descricao{
    display: flex;
    justify-content: center;
    width: 20.9%;
    border-right: 10px solid rgb(225, 225, 225);
}
.mostrar-estoque .tabela .titulo .qtd{
    display: flex;
    justify-content: center;
    width: 15%;
    border-right: 10px solid rgb(225, 225, 225);
}
.mostrar-estoque .tabela .titulo .custo{
    display: flex;
    justify-content: center;
    width: 19%;
    border-right: 10px solid rgb(225, 225, 225);
}
.mostrar-estoque .tabela .titulo .lucro{
    display: flex;
    justify-content: center;
    width: 9%;
    border-right: 10px solid rgb(225, 225, 225);
}
.mostrar-estoque .tabela .titulo .preco{
    border-right: 10px solid rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    width: 19%;
}
.mostrar-estoque .tabela .titulo .editar{
    border-right: 10px solid rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    width: 5%;
}
.mostrar-estoque .tabela .titulo .excluir{
    display: flex;
    justify-content: center;
    width: 5%;
}
.mostrar-estoque .tabela .entrada{
    height: 50px;
    border-top: 5px solid rgb(225, 225, 225);
    display: flex;
    font-size: 20px;
    justify-content: center;
    justify-items: center;
    background: white;
    color: rgb(34, 34, 34);
}
.mostrar-estoque .tabela .entrada h3{
    font-size: 18px;
    text-align: center;
}
.mostrar-estoque .botoes{
    padding-top: 20px;
    display: flex;
}
.mostrar-estoque .botoes .add{
    font-family: Roboto media;
    border: none;
    background: rgb(39, 39, 206);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-bottom: 8px;
}
.mostrar-estoque .botoes .add:hover{
    background: white;
    border: 2px solid rgb(39, 39, 206);
    color: rgb(39, 39, 206, 0.7);
    cursor: pointer;
}
.mostrar-estoque .botoes .del{
    font-family: Roboto media;
    border: none;
    background: rgba(206, 39, 39, 0.7);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-bottom: 8px;
}
.mostrar-estoque .botoes .del:hover{
    font-style: Roboto normal;
    background: white;
    border: 2px solid rgba(206, 39, 39, 0.7);
    color: rgba(206, 39, 39, 0.7);
    cursor: pointer;
}

    